#navbarButtonMenu{
    margin-top: 5px;
    margin-left: 5px;
}
#navbarButtonAdventure{
    margin-top: 5px;
}

#navbarButtonSave{
    margin-top: 5px;
}

#bookmarkPanel {
    margin-left: 1px;
    margin-top: -19px;
}
#bookmark{
    height: 26px;
    /*margin-right: 10px;*/
}
#bookmarkClose{
 /*   right: 20px;
    margin-top: 3px;*/
    /*margin-left: 10px;*/
}

