<!DOCTYPE html>
<html ng-app="nikitaPad" lang="en">

<head>
    <title>NiPad</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-touch/1.6.4/angular-touch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="index.js"></script>
    <link rel="stylesheet" href="index.css">


</head>
<body data-ng-app="">
<div class="container" ng-controller="npCtrl">

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">NiPad v0.006 </h4>
                </div>
                <div class="modal-body">
                    <div>
                        <table class="table table-hover" ng-repeat="text in texts">
                            <tr>

                                <div class="form-inline">
                                    <form>
                                        <input type="text" class="form-control" ng-model="localKey"
                                               placeholder="File name...">
                                        <button type="button" class="btn btn-success btn-xs"
                                                ng-click="addText(localKey)"><span
                                                class="glyphicon glyphicon-plus"></span></button>
                                    </form>
                                </div>
                                <td class="col-xs-2">Name: <label>{{text}} </label></td>
                                <td>
                                    <button type="button" class="btn btn-default btn-sm"
                                            ng-click="uploadText(text,loaded)"><span
                                            class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span> Save
                                    </button>
                                </td>
                                <td class="col-xs-2">
                                    <button type="button" class="btn btn-default btn-sm"
                                            ng-click="downloadText(text)"><span
                                            class="glyphicon glyphicon-collapse-down " aria-hidden="true"></span> Load
                                    </button>
                                </td>
                                <td class="col-xs-2">
                                    <button type="button" class="btn btn-danger btn-sm"
                                            ng-click="dellText(text)"><span
                                            class="glyphicon glyphicon-remove " aria-hidden="true"></span>
                                    </button>
                                </td>
                                <td class="col-xs-5 col-sm-3">
                                    <button id="info" type="button" class="btn btn-sm btn-default"
                                            ng-click="loadedLength(text); hideInfo = !hideInfo"><span
                                            class="glyphicon glyphicon-info-sign"
                                            aria-hidden="true"></span></button>
                                    <div><label ng-show="hideInfo" for="info"> Symbols count: {{textInfo.sym}}</label>
                                        <label ng-show="hideInfo" for="info"> Words count: {{textInfo.words}}</label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <nav class="navbar navbar-default">

            <button id="navbarButtonMenu" type="button" class="btn btn-default"><span
                    class="glyphicon glyphicon-expand" aria-hidden="true"></span>Menu
            </button>
            <a  href="./pages/adventure.html">
            <span id="navbarButtonAdventure" class="btn btn-default btn-sm"><img src="glyphicons-323-playing-dices.png"></span>
            </a>


    </nav>

    <nav class="navbar navbar-default">
        <div class="row" ng-repeat>

        </div>
    </nav>
    <button class="w3-button w3-red" onclick="document.getElementById('id01').style.display='block'">Show Panel
    </button>
    <div id="id01" class="w3-panel w3-green w3-display-container" style="display:none">

        <button onclick="this.parentElement.style.display='none'"
                class="w3-button w3-red w3-display-topright"> Close menu
        </button>
        <button type="button" class="btn btn-default" ng-click=""><span class="glyphicon glyphicon-chevron-left"
                                                                        aria-hidden="true"></span></button>
        <button type="button" class="btn btn-default" ng-click=""><span
                class="glyphicon glyphicon-chevron-right"
                aria-hidden="true"></span></button>
    </div>

    <nav id="navbar2" class="navbar navbar-default">
        <div class="" ng-repeat="text in texts">
            <label>{{text}}</label>
        </div>
        <button data-toggle="modal" data-target="#myModal" ng-click="openNewTab()">+</button>
    </nav>

    <div class="form-group">
        <textarea class="form-control" ng-model="loaded.text" cols="30" rows="10"></textarea>
    </div>

</div>
</body>
</html>