<!DOCTYPE html>
<html ng-app="nikitaPad" lang="en">

<head>
    <title>NIKITAPAD</title>
    <script src="./node_modules/angular/angular.js"></script>
    <link href="./node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="./node_modules/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="./style.css" rel="stylesheet"/>
    <script>
      angular.module('nikitaPad', [])
        .controller('npCtrl', function ($scope) {
          $scope.loaded = (JSON.parse(localStorage.saveText)) ? JSON.parse(localStorage.saveText) : ''
          $scope.submitText = function (text) {
            localStorage.saveText = JSON.stringify(text)
          }

        });
    </script>
</head>
<body data-ng-app="">
<div class="container" ng-controller="npCtrl">
{{loaded.length()|json}}
    <nav class="navbar">
        <button type="button" class="btn btn-success" ng-click="submitText(loaded)"> Save</button>
    </nav>
    <div class="form-group">
        <textarea class="form-control" ng-model="loaded" cols="30" rows="10"></textarea>
    </div>

</div>
</body>
</html>