<!--###############
INDEX.HTML
###################-->
<!DOCTYPE html>
<html ng-app="adventure" lang="en">
<head>
    <title>NiPad</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.angularjs.org/1.6.4/angular-touch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="index.js"></script>

    <!-- #############################
                     INDEX.JS
    #################################-->
    <script>
        angular.module('adventure', ['ui.bootstrap.modal'])
            .controller('npCtrl', function ($scope) {
                $scope.localKeys = localStorage.localkeys
                $scope.texts = (angular.isUndefined($scope.localKeys)) ? [] : $scope.localKeys.split(',')
                $scope.dist = ''
                $scope.downloadText = function (textDist) {
                    $scope.dist = textDist
                    $scope.loaded = (JSON.parse(localStorage.getItem($scope.dist))) ? JSON.parse(localStorage.getItem($scope.dist)) : alert('Nothing to download!')
                }

                $scope.addText = function (textLocalKey) {
                    $scope.texts.push(textLocalKey)
                    localStorage.localkeys = $scope.texts
                }

                $scope.dellText = function (textLocalKey) {
                    $scope.dist = textLocalKey
                    $scope.texts.splice($scope.texts.indexOf(textLocalKey),1)
                    localStorage.localkeys = $scope.texts
                    localStorage.removeItem($scope.dist)
                }

                $scope.uploadText = function (textLocalKey, text) {
                    $scope.dist = textLocalKey
                    console.log($scope.dist)
                    if (text) {
                        localStorage.setItem($scope.dist, JSON.stringify(text))
                    }
                    else {
                        alert('Text area is empty!')
                    }
                }

            });
    </script>
    <!--##################################-->

</head>
<body data-ng-app="">
<div class="container" ng-controller="npCtrl">

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">NiPad v0.005 </h4>
                </div>
                <div class="modal-body">
                    <div>
                        <table class="table table-hover" ng-repeat="text in texts">
                            <tr>
                                <div class="form-inline">
                                    <form>
                                        <input type="text" class="form-control" ng-model="localKey" placeholder="File name...">
                                        <button type="button" class="btn btn-success btn-xs"
                                                ng-click="addText(localKey)"><span
                                                class="glyphicon glyphicon-plus"></span></button>
                                    </form>
                                </div>
                                <td>Name: {{text}}</td>
                                <td>
                                    <button type="button" class="btn btn-info btn-sm"
                                            ng-click="uploadText(text,loaded)"><span
                                            class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span> Save
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-info btn-sm"
                                            ng-click="downloadText(text)"><span
                                            class="glyphicon glyphicon-collapse-down " aria-hidden="true"></span> Load
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm"
                                            ng-click="dellText(text)"><span
                                            class="glyphicon glyphicon-remove " aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal"><span
                class="glyphicon glyphicon-expand" aria-hidden="true"></span>Menu
        </button>
        <button type="button" class="btn btn-success" ng-click=""><span class="glyphicon glyphicon-chevron-left"
                                                                        aria-hidden="true"></span></button>
        <button type="button" class="btn btn-success" ng-click=""><span class="glyphicon glyphicon-chevron-right"
                                                                        aria-hidden="true"></span></button>
        <button type="button" class="btn btn-default" ng-click=""><span class="glyphicon glyphicon-info-sign"
                                                                        aria-hidden="true"></span></button>
    </div>
    <div class="form-group">
        <textarea class="form-control" ng-model="loaded.text" cols="30" rows="10"></textarea>
    </div>
</div>
</body>
</html>
