<div ng-init="showTitle=true" class="modal" id="mSave" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Adventure v0.0080 </h4>
            </div>
            <div ng-show="showTitle">
                <label for="addTextTitle"> Edit title</label>
                <input id="addTextTitle" ng-model="addTextTitle">
                <button class="btn btn-default" ng-disabled="!addTextTitle" ng-click="textFill.title=addTextTitle;
                showTitle=!showTitle">save</button>

            </div>
            <div>
                <p ng-show="titleValidation(textFill)"> Title already exist </p>
                <button class="btn btn-default" ng-hide="showTitle" ng-click="textFill.title=addTextTitle;
                showTitle=!showTitle">Edit title</button>
                <button ng-hide="showTitle" class="btn btn-default" ng-disabled="titleValidation(textFill)"
                        ng-click="saveText(textFill)"> Save {{textFill.title}}</button>
            </div>
<!--
            this is text&ndash >>>> {{textFill}}
-->
        </div>

    </div>
</div>