<div ng-init="showTitle=true" class="modal" id="mSave" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Adventure v0.0080 </h4>
            </div>
            <div ng-show="showTitle">
                <label> Edit title</label>
                <input ng-model="addTextTitle">
                <button class="btn btn-default" ng-disabled="!addTextTitle" ng-click="textFill.title=addTextTitle;
                showTitle=!showTitle">save</button>

            </div>
            <div>
                <p >{{errMesage}} </p>
<!--
                {{textFill.title}}
-->
                <button class="btn btn-default" ng-hide="showTitle" ng-click="textFill.title=addTextTitle;
                showTitle=!showTitle">Edit title</button>
                <button  ng-hide="showTitle" class="btn btn-default"
                        ng-click="saveText(textFill)" > Save {{textFill.title}}</button>
            </div>
<!--
            >>>> {{textFill}}
-->
        </div>

    </div>
</div>